.app-grid {
  display: grid;
  grid-template-rows: 48px auto 48px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  max-width: 1050px;
  margin: 0 auto;
  background: var(--color-azure);
}

.app-grid__main {
  display: grid;
  overflow-y: scroll;
  grid-gap: var(--space-medium);
  height: 100vh;
  padding-top: 81px;
}

.app-grid__footer {
  grid-area: footer;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  left: 20px;
  width: auto;
  height: 44px;
  background: #fff;
  /* utility clases? */
  border-radius: 10px;
  box-shadow: 0 2px 11px #19325120;
}
