<section class="journal-card br-5 p-20">
  <h2 class="journal-card__headline mb-20">Yesterday</h2>
  <h3 class="journal-card__subline font-normal">Rating:</h3>
  <ul class="journal-card__rating">
    <li class="icon-star"></li>
    <li class="icon-star"></li>
    <li class="icon-star"></li>
    <li class="icon-star-o"></li>
    <li class="icon-star-o"></li>
  </ul>

  <h3 class="journal-card__subline font-normal">Comprehension:</h3>
  <ul class="journal-card__comprehension">
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle"></li>
    <li class="icon-rectangle-o"></li>
    <li class="icon-rectangle-o"></li>
    <li class="icon-rectangle-o"></li>
  </ul>

  <h3 class="journal-card__subline font-normal">Motto:</h3>
  <p class="journal-card__motto mt-10">"That´s life in the city"</p>
  <h3 class="journal-card__subline font-normal">Notes:</h3>
  <p class="journal-card__notes mt-10">
    Si sine causa? quae fuerit causa, mox videro; interea hoc tenebo, si mihi.
    Et quidem se repellere, idque instituit docere sic omne animal, simul atque.
  </p>
</section>
