<footer class="footer">
  <nav class="navigation p-10">
    <a href="../" class="navigation__icon navigation__icon--active">
      <i class="icon-dashboard"></i>
    </a>
    <a href="../code-buddies.html" class="navigation__icon">
      <i class="icon-buddy"></i>
    </a>
    <a href="../teams.html" class="navigation__icon">
      <i class="icon-team"></i>
    </a>
    <a href="../energy.html" class="navigation__icon">
      <i class="icon-energy"></i>
    </a>
    <a href="../journal.html" class="navigation__icon">
      <i class="icon-journal"></i>
    </a>
  </nav>
</footer>
