<footer class="app-grid__footer">
  <nav class="navigation">
    <a href="../">
      <img src="../images/DashboardIcon.svg" alt="" class="navigation__icon"
    /></a>
    <a href="../code-buddies.html">
      <img src="../images/BuddyIcon.svg" alt="" class="navigation__icon"
    /></a>
    <a href="../teams.html">
      <img src="../images/TeamIcon.svg" alt="" class="navigation__icon"
    /></a>
    <a href="../energy.html">
      <img src="../images/EnergyIcon.eps" alt="" class="navigation__icon"
    /></a>
    <a href="../journal.html">
      <img src="../images/JournalIcon.svg" alt="" class="navigation__icon"
    /></a>
  </nav>
</footer>
