.p-5 {
  padding: var(--space-xsmall);
}

.p-10 {
  padding: var(--space-small);
}

.p-20 {
  padding: var(--space-medium);
}

.p-30 {
  padding: var(--space-large);
}

.m-5 {
  margin: var(--space-xsmall);
}

.m-10 {
  margin: var(--space-small);
}

.m-20 {
  margin: var(--space-medium);
}

.m-30 {
  margin: var(--space-large);
}
