:root {
  /* color scheme */

  /* CSS HEX */
  --color-light-grey: #f8f8f8;
  --color-light-blue: #e0e4e8;
  --color-dim-blue: #7589a2;
  --color-dark-blue: #193251;
  --color-light-salmon: #ffded7;
  --color-medium-salmon: #ffbdaf;
  --color-fat-salmon: #ff9c86;
  --color-main-orange: #ff5a36;
  --color-main-orange-op-40: rgb(255, 90, 54, 0.4);
  --color-dim-blue-op-20: rgb(117, 137, 162, 0.2);
  --shadow-dim-blue: 0 2px 11px var(--color-dim-blue-op-20);
  --shadow-orange: 0 4px 10px var(--color-main-orange-op-40);

  /* spaces */
  --space-xsmall: 5px;
  --space-small: 10px;
  --space-medium: 20px;
  --space-large: 30px;
}
